* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.app1 {
    width: 1519px;
    height: 760px;
    gap: 0px;
    opacity: 0px;
    background-color: rgba(28, 30, 83, 1);
}

.nav1 {
    display: flex;
    padding: 20px 100px;
}

.menu ul {
    display: flex;
    margin: 5px 320px;
    gap: 50px;
}

.menu ul a {
    text-decoration: none;
    color: rgba(255, 255, 255, 1);
}

.menu ul li {
    font-family: Poppins;
    font-size: 16px;
    font-weight: 500;
    line-height: 28px;
    text-align: right;
    color: aliceblue;
    list-style: none;
}

.btn1 {
    width: 185px;
    height: 60px;
    top: 16px;
    left: 1255px;
    gap: 10px;
    border-radius: 41px 41px 41px 41px;
    background-color: rgba(28, 30, 83, 1);
    opacity: 0px;
    color: aliceblue;
    border: 2px solid rgba(244, 246, 252, 0.2);
    font-family: Poppins;
    font-size: 16px;
    font-weight: 500;
    line-height: 28px;
    position: absolute;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.center1 {
    display: flex;
    gap: 150px;
}

.btn2 {
    width: 230px;
    height: 64px;
    top: 568px;
    left: 160px;
    padding: 16px 56px 16px 56px;
    gap: 10px;
    border-radius: 41px 41px 41px 41px;
    opacity: 0px;
    border: none;
    background-color: rgba(252, 217, 128, 1);
    color: rgba(27, 28, 43, 1);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

.text1 h1 {
    font-family: Poppins;
    font-size: 54px;
    font-weight: 600;
    line-height: 74px;
    color: aliceblue;
}

.text1 p {

    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    color: rgba(244, 246, 252, 0.2);
}

.text1 {
    padding: 100px 90px;
}

.image1 {
    margin: 120px 0px;
}

.img2 img {
    margin: 100px 80px;
}

.app6 {
    width: 1280px;
    height: 354px;

    gap: 0px;
    opacity: 0px;
    background-color: Dark blue;
    margin: 200px 120px;
}

.container6 {
    display: flex;
    gap: 20px;
    margin: 50px 120px;
}

.box3 h1 {
    color: rgba(40, 41, 56, 1);
    font-family: Poppins;
    font-size: 24px;
    font-weight: 400;
    line-height: 36px;
}

.box3 p {
    color: rgba(40, 41, 56, 1);
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
}

.box4 h1 {
    color: rgba(40, 41, 56, 1);
    font-family: Poppins;
    font-size: 24px;
    font-weight: 400;
    line-height: 36px;

}

.box4 p {
    color: rgba(40, 41, 56, 1);
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
}

.box5 h1 {
    color: rgba(40, 41, 56, 1);
    font-family: Poppins;
    font-size: 24px;
    font-weight: 400;
    line-height: 36px;
}

.box5 p {
    color: rgba(40, 41, 56, 1);
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
}


.text7 h1 {

    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 48px;
    font-weight: 600;
    line-height: 64px;
    text-align: center;
}

.box3 {
    width: 405px;
    height: 316px;
    top: 3250px;
    left: 160px;
    gap: 0px;
    opacity: 0px;
    background-color: rgba(244, 246, 252, 1);
    padding: 50px 30px;

}

.box4 {
    width: 405px;
    height: 316px;
    top: 3250px;
    left: 160px;
    gap: 0px;
    opacity: 0px;
    background-color: rgba(244, 246, 252, 1);
    padding: 50px 30px;
}

.box5 {
    width: 405px;
    height: 316px;
    top: 3250px;
    left: 160px;
    gap: 0px;
    opacity: 0px;
    background-color: rgba(244, 246, 252, 1);
    padding: 50px 30px;
}

.container1 {
    display: flex;
    width: 1280px;
    height: 398px;
    margin: 300px 120px;
    gap: 239.5px;
}

.text3 {
    margin: 50px 0px;
}

.text3 h1 {
    font-family: Poppins;
    font-size: 18px;
    font-weight: 500;
    line-height: 32px;
    color: rgba(0, 0, 0, 1);
}

.text3 h2 {
    font-family: Poppins;
    font-size: 38px;
    font-weight: 600;
    line-height: 56px;
    color: rgba(35, 37, 54, 1);
}

.text3 p {
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    color: rgba(40, 41, 56, 1);
}

.container2 {
    width: 1519px;
    height: 654px;
    top: 2179px;
    left: 1px;
    gap: 0px;
    opacity: 0px;
    background-color: rgba(244, 246, 252, 1);
    display: flex;
}

.text4 {
    margin: 50px 0px;
}

.text4 h1 {
    font-family: Poppins;
    font-size: 18px;
    font-weight: 400;
    line-height: 32px;
    color: rgba(0, 0, 0, 1);

}

.text4 h2 {

    font-family: Poppins;
    font-size: 38px;
    font-weight: 600;
    line-height: 56px;
    color: rgba(35, 37, 54, 1);
}

.text4 p {
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    color: rgba(35, 37, 54, 1);
}

.mini-container {
    margin: 100px 125px;
    display: flex;
    gap: 100px;
}

.container3 {
    width: 1280px;
    height: 398px;
    top: 2961px;
    left: 161px;
    gap: 240px;
    opacity: 0px;
    display: flex;
    margin: 100px 125px;

}

.text5 h1 {
    color: rgba(0, 0, 0, 1);
    font-size: 18px;
    font-weight: 500;
    line-height: 32px;
    text-align: left;
}

.text5 h2 {
    color: rgba(35, 37, 54, 1);
    font-family: Poppins;
    font-size: 38px;
    font-weight: 600;
    line-height: 56px;
    text-align: left;
}

.text5 {
    margin: 80px 0px;
}

.text5 p {
    color: rgba(35, 37, 54, 1);
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    text-align: left;
}

.container4 {
    width: 1518px;
    height: 654px;
    top: 3487px;
    gap: 0px;
    opacity: 0px;
    background-color: rgba(252, 217, 128, 0.1);
    display: flex;
}

.mini-container2 {
    width: 1279px;
    height: 398px;
    top: 3615px;
    left: 160px;
    gap: 100px;
    opacity: 0px;
    display: flex;
    margin: 100px 125px;

}

.text6 h1 {
    font-size: 16px;
    font-weight: 500;
    line-height: 28px;
    color: rgba(0, 0, 0, 1);
}

.text6 h2 {
    color: rgba(35, 37, 54, 1);
    font-family: Poppins;
    font-size: 38px;
    font-weight: 600;
    line-height: 56px;
    text-align: left;
}

.text6 p {
    color: rgba(35, 37, 54, 1);
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    text-align: left;
}

.text6 {
    margin: 50px 0px;
}

.img10 img {
    width: 1200px;
    height: 537px;
    top: 4269px;
    left: 158px;
    gap: 0px;
    opacity: 0px;
    margin: 100px 125px;
}
.app9 {
    width: 1519px;
    height: 300px;
    display: flex;
    padding: 100px 100px;
    gap: 500px;
    background-color: rgba(28, 30, 83, 1);
}

.text8 h1 {

    font-family: Poppins;
    font-size: 48px;
    font-weight: 600;
    line-height: 64px;
    text-align: left;
    color: rgba(255, 255, 255, 1);
}

.text8 p {
    font-family: Poppins;
    font-size: 16px;
    font-weight: 500;
    line-height: 28px;
    text-align: left;
    color: rgba(255, 255, 255, 1);
}

.text9 h1 {
    font-family: Poppins;
    font-size: 48px;
    font-weight: 600;
    line-height: 64px;
    text-align: left;
    color: rgba(255, 255, 255, 1);
}

.text9 p {
  
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    text-align: left;
    color: rgba(255, 255, 255, 1);
}