* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

.app1 {
    width: 1519px;
    background-color: rgba(28, 30, 83, 1);
    height: 92px;

}

.nav {
    display: flex;
    padding: 20px 100px;
}

.menu ul {
    display: flex;
    margin: 0px 320px;
    gap: 50px;
}

.menu ul a {
    text-decoration: none;
    color: rgba(255, 255, 255, 1);
}

.menu ul li {
    font-family: Poppins;
    font-size: 16px;
    font-weight: 500;
    line-height: 28px;
    text-align: right;
    color: aliceblue;
    list-style: none;
}

.btn1 {
    width: 185px;
    height: 60px;
    top: 16px;
    left: 1255px;
    gap: 10px;
    border-radius: 41px 41px 41px 41px;
    background-color: rgba(28, 30, 83, 1);
    opacity: 0px;
    color: aliceblue;
    border: 2px solid rgba(244, 246, 252, 0.2);
    font-family: Poppins;
    font-size: 16px;
    font-weight: 500;
    line-height: 28px;
    position: absolute;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.app2 {
    width: 1519px;
    height: 1200px;
}

.text1 {
    text-align: center;
    margin: 100px 0px;
}

.text1 h1 {
    padding: 50px 558px;
    font-family: Poppins;
    font-size: 48px;
    font-weight: 600;
    line-height: 64px;
    text-align: left;
    color: rgba(40, 41, 56, 1);
}

.text1 p {
    font-family: Poppins;
    font-size: 16px;
    font-weight: 500;
    line-height: 28px;
    text-align: center;

}
.image1{
    display: flex;
    margin: 0px 100px;
    gap: 80px;
}

.app9 {

    width: 1519px;
    height: 300px;
    display: flex;
    padding: 100px 100px;
    gap: 500px;
    background-color: rgba(28, 30, 83, 1);
}

.text8 h1 {

    font-family: Poppins;
    font-size: 48px;
    font-weight: 600;
    line-height: 64px;
    text-align: left;
    color: rgba(255, 255, 255, 1);
}

.text8 p {
    font-family: Poppins;
    font-size: 16px;
    font-weight: 500;
    line-height: 28px;
    text-align: left;
    color: rgba(255, 255, 255, 1);
}

.text9 h1 {
    font-family: Poppins;
    font-size: 48px;
    font-weight: 600;
    line-height: 64px;
    text-align: left;
    color: rgba(255, 255, 255, 1);
}

.text9 p {
  
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    text-align: left;
    color: rgba(255, 255, 255, 1);
}